version: "3.8"
services:
  ror2-server:
    image: avivace/ror2server:latest
    ports:
      - "27015:27015/udp"
      - "27016:27016/udp"
    environment:
      - R2_PLAYERS=5
      - R2_PSW=qserver
      - R2_HOSTNAME=QRoR2
      - R2_HEARTBEAT=1
      - R2_TAGS=theStig